.slideViewerContainer{

        /* height: 550px; */
        /* margin-left: 200px; */
        display: flex;
        /* align-items: center; */
        flex-direction: row;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;  
}

.unsupported-message .pg-viewer-wrapper .pg-viewer .pg-driver-view {
        display: flex;
        gap: 30px;
        
/*        
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        z-index: 9999; */
    }
    

    .unsupported-message .pg-viewer-wrapper .pg-viewer .pg-driver-view  section {
        /* Your styles here */
        /* background-color: black; */
        min-width: 100vw; /* 100% of the viewport width */
        min-height: 100vh; /* 100% of the viewport height */
        top: 0;
        left: 0;
        padding: 0;
        /* z-index: 9999; */
        /* position: fixed */
       
    }

    .carousel-control-prev{
        background-color: #939393;
    }

    .carousel-control-next{
        background-color: #939393;
    }